#classic {
    padding: 15px 12px 2px 12px;
    text-align: justify;
    font-weight: bold;
    font-size: 1em;
}

#modern {
    background-color: #fed700;
    padding: 15px 18px 0px 18px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#impact {
    background-color: #90ee90;
    border:double 18px black;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

#elise {
    background-color: #fffaf0;
    box-shadow: -2px -2px -2px #a69c8f;
    border: .3em inset #a69c8f;
    text-align: center;
    padding: 1.5em 1em;
    font-family: cursive;
}

.doubles {
    display: inline-block;
    border: .4em outset #1b7b7d;
    background-color: #7efed4 !important;
    padding: .8em 1em;
    margin: 5.5em 1em 0em 3em !important;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}

#gaudi {
    background-color: #fba07a;
    text-align: center;
    font-weight: bold;
    padding: 1em 1.5em 0em 1.5em;
    font-family: Tahoma, sans-serif;
    border-radius: 15px 50px;
    box-shadow: 3px 3px 3px grey;
}